# Dependencies
node_modules/
**/node_modules/

# Env
.env
.env.local
.env.*.local

# Builds
dist/
build/
.next/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/settings.json
!.vscode/extensions.json  # optional

# IDE
.idea/
*.swp
